<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449419085052-qe5eomt59kh7n1jf6q1ep1bdoprit8fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449419085052-qe5eomt59kh7n1jf6q1ep1bdoprit8fm</string>
	<key>API_KEY</key>
	<string>AIzaSyBo7AnQjOQMzC4Kq4Kuqe7F7ppyvM8mgBo</string>
	<key>GCM_SENDER_ID</key>
	<string>449419085052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loodos.Binder</string>
	<key>PROJECT_ID</key>
	<string>binder-b5cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>binder-b5cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449419085052:ios:d8239be17862d7d1014379</string>
	<key>DATABASE_URL</key>
	<string>https://binder-b5cbd.firebaseio.com</string>
</dict>
</plist>